QScrollBar{background:lightgray; height:10px;}
QScrollBar::handle{background:#169BD5; border:2px solid transparent; border-radius:5px;}
QScrollBar::handle:hover{background:gray;}
QScrollBar::sub-line{background:transparent;}
QScrollBar::add-line{background:transparent;}