QMessageBox {
	background-color: #FFFFFF; /* QMessageBox背景颜色 */
}



QMessageBox QPushButton { /* QMessageBox中的QPushButton样式 */
	border: 1px solid #298DFF;
	border-radius: 3px;
	background-color: #F2F2F2;
	color: #298DFF;
	font-family: "Microsoft YaHei";
	font-size: 10pt;
	min-width: 70px;
	min-height: 25px;
}

QMessageBox QPushButton:hover {
	background-color: #298DFF;
	color: #F2F2F2;
}

QMessageBox QPushButton:pressed {
	background-color: #257FE6;
}